*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    
    
}
body{
    background-color:#eff0d1;
}
header{
    background-color: black;
    padding: 5px;
    width: auto;
}
header nav ul li{
    color: white;

}
header nav ul li:hover{
    cursor: grab;
    color: rgb(152, 219, 44);
    font-size: 105%;


}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    

}
header nav ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    
}
.buttons{
    padding:0;
    padding-right: 80px;
    padding-left: 80px;
    
}
.buttons button{
    background-color: white ;
    padding: 8px;
    width: 100px;
    border-radius: 18px;
    border: 3px solid #307351;
    outline: none;
    color: #050404;
    border-bottom: 2px solid rgb(15, 179, 116);
    margin-right: 10px;
    
   
}
.buttons button:hover{
    background-color: rgb(34, 139, 34);
    color: white;
    font-family: poppins;
    font-weight: 600px;
}
.hero{
    height: 94.5dvh;
    width: 100%;
    display: flex;

}
.hero .text{
   
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center; 
   padding-left: 110px;
}
.hero .text h1{
    font-size: 90px;
    
}
.top p{
    font-size:30px;
    padding-bottom: 20px;

}
.top p span{
    color: #158b39;
}
.top button{
    padding: 5px;
    margin-right: 30px;
    font-size: 23px;
    border:2px solid black;
    border-radius: 5px;
    
}
.picha{
    display: flex;
    justify-content: center;
    align-items: center;
}